name: Сборка EXE для Windows

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Установка Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Установка зависимостей
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install PyQt5 reportlab Pillow qrcode opencv-python PyPDF2 requests

      - name: Сборка EXE
        run: |
          pyinstaller --onefile --windowed --noconsole --icon=Logo512.ico Markirator_Stroytek.py

      - name: Загрузка готового файла
        uses: actions/upload-artifact@v4
        with:
          name: Маркиратор_Windows_64bit
          path: dist/*.exe
